:root {
  --background: rgba(5, 214, 10, 0.95);
  --dark: rgba(0, 0, 10, 0.95)
}


/* Reset for box sizing */
* *, *::before, *::after {
  box-sizing: border-box
}

body {
  margin: 0;
  background: #fcfafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}

/* Header Navigation */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;  
}

header h1 {
  margin: 0
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px
}

.nav-toggle-label span::after {
  top: 7px
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out
}

nav a:hover{
  color: black;
}

.nav-toggle:checked ~ nav{
  transform: scale(1,1)
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms
}

@media screen and (min-width:800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }
}

/* Main Wrapper */
.main-wrapper {
  height: 100vh;
  background-image: url('../img/showcase.jpg');
  background-color: #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 44px;
  color: white;
}


/* Footer */
.footer {
  background: var(--dark);
  padding-top: .5em;
  padding-bottom: .5em;
  color: #fff;
  text-align: center
}