:root {
  --background: rgba(5, 214, 10);
  --dark: rgba(0, 0, 10, 0.95);
  --light: rgb(243, 247, 243);
  --dark-background: rgba(253, 253, 253, 0.95);
  --light-background: rgba(233, 233, 245, 0.95);
}


/* Reset for box sizing */
* *, *::before, *::after {
  box-sizing: border-box
}

body {
  margin: 0;
  background: #fcfafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}

/* Header Navigation */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;  
}

.logo-s {
  text-align: center;
  grid-column: 3 / 4
}

.logo-sp {
  text-align: center;
  grid-column: 1 / 2
}

header a {
  text-align: right;
  grid-column: 4;
  padding: 1em;
  text-decoration: none;
  color: var(--dark)
}

header h1 {
  margin: 0;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px
}

.nav-toggle-label span::after {
  top: 7px
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--dark);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out
}

nav a:hover{
  color: var(--light)
}

.nav-toggle:checked ~ nav{
  transform: scale(1,1)
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms
}

@media screen and (min-width:800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }
}

/* Main Wrapper */
.main-wrapper {
  height: 100vh;
  background-image: url('../img/showcase.jpg');
  background-color: #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.main-wrapper-1 {
  height: 100vh;
  background-image: url('../img/showcase2.jpg');
  background-color: #333;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {  
  margin-top: 5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  width: 35%;
  color: #521f1f;
  background: #f3f3f3;
  padding: 1em;
  border-radius: 1em;
}

.form-wrapper a {
  text-decoration: none;
  color:  rgb(12, 11, 11);
  margin: 1.4em;
}

.form-wrapper a:hover {
  color: rgb(11, 15, 4);
}

.form-wrapper img {
  width: 80px;
  border-radius: 50px;
}

/* User Profile */
.main-wrapper-u {
  display: flex;
  height: 140vh;
  background-image: url('../img/showcase2.jpg');
}

.group {
  margin-top: 3.2rem;
  display: flex;
  flex: 1;
}

.user-profile {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--light-background);
  padding-top: .5rem;
  flex: 1 1 2rem;
}

.user-profile .top {
  flex: 1;
  border-bottom: 2px solid #030303;
}

.user-profile .top img {
  width: 110px;
  border-radius: 70px;
}

.user-profile .bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: .5rem;
}

.bottom a {
  text-decoration: none;
  color: var(--dark);
}

.bottom a:hover {
  background: var(--dark-background);
  color: var(--dark);
  font-weight: bold;
}

.u-content {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: var(--dark-background);
  padding-top: 3rem;
  flex: 4 4;
  align-items: center;
}

/* Transaction Table */
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #customers tr:nth-child(even){background-color: #f2f2f2;} */

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  rgba(5, 214, 10);
  color: white;
}

#u-pro-2 td {
  text-align: left;
  padding: 0.3em 1em;
}

@media all and (max-width: 540px) {
  .group {
      flex-direction: column;
  }

  .user-profile .top {
    display: none;
  }

  .user-profile {
    margin-top: 1.5rem;
    flex: 1 1 .1em;
  }
}

@media only screen and (max-width:800px) {
  .form-wrapper {
    width: 50%;
    height: 100vh;
    font-size: 24px;
    margin: 0;
  }
}

@media only screen and (max-width:540px) {
  .form-wrapper {
    width: 70%;
    height: 100vh;
    font-size: 24px;
    margin: 0;
  }

  .form-wrapper a {
    font-size: 12px;
    text-decoration: none;
    color:  rgb(72, 163, 140);
    margin: 1.4em;
  }
}

.form-wrapper input {
  padding: 10px
}

.form-wrapper option[value="hidden"], 
.create-account option[value="hidden"] {
  display: none
}

.hgt-yt a {
  text-decoration: none;
  background:  rgba(5, 214, 10);
  padding: 2px 10px;
  border-radius: 3px;
  margin-top: 2em
}

.form-wrapper input[type="password"],
.create-account input[type="text"],
.create-account input[type="email"],
.create-account select[id="account"],
.form-wrapper input[type="email"],
.form-wrapper select[id="account"],
.a-history input[type="text"],
.top-db input[type="number"],
.form-wrapper input[type="text"]{
  border: .5px solid #9e8d8d;
  background: -o-repeating-linear-gradient();
  margin-top: .8em;
  height: 2.5rem;
  font-size: 16px;
  border-radius: 4px;
}

.btn{
  height: 2.5rem;
  font-size: 16px;
  background: rgb(72, 163, 140);
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 9rem;
  outline: none;
  color: #fff;
  margin: 1rem;
}

.db-btn1 a,
.acc-btn a,
.top-db a {
  text-decoration: none;
  color: white
}

#delete {
  background: rgb(243, 74, 62);
}

.btn:hover{
  background: rgb(8, 250, 101);
  color: #fff;
  font-weight: bold;
}

.main-wrapper p {
  font-size: 44px;
}

/* Transaction Details */
.trans-tb {
  text-align: left;
  padding: 3px;
  font-size: 20px;
}

.u-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .td {
  background: #ccc;
  width: 100%;
  text-align: center;
}

/* Admin Dashboard */
.top-db {
  display: flex;
  margin: 0 3rem;
  justify-content: center;
}

.credit, .debit {
  height: 5em;
  width: 8em;
  color: white;
  border-radius: 10px;
  box-shadow: blue;
  background: rgb(115, 240, 163);
  justify-content: center;
  align-items: center;
  display: flex;
}

.debit:hover,
.credit:hover,
.activate:hover,
.deactivate:hover {
  cursor: pointer;
  font-weight: bold;
  color: rgb(243, 235, 235)
}

.history-bt {
  margin-top: 4rem;
  border-top: 1px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
}

.deactivate {
  margin-top: 2em;
  height: 5em;
  width: 8em;
  color: white;
  border-radius: 10px;
  box-shadow: blue;
  background: rgb(248, 6, 26);
  justify-content: center;
  align-items: center;
  display: flex;
}

.debit {
  background: rgb(243, 216, 94) !important;
  margin-left: 12em;
}

@media all and (max-width: 800px) {
  .top-db {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .debit {
    margin-left: 0;
    margin-top: 1.2em;
  }
}

/* Account Number */
.acc-p {
  place-content: center
}

#status-id {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 1em;
  width: 14em;
  height: 10em;
  justify-content: center;
}

.activate {
  height: 3em;
  width: 5em;
  color: white;
  border-radius: 10px;
  box-shadow: blue;
  background: rgb(115, 240, 163);
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Admin Create Account */
.create-account {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #f3f3f3;
  padding: .4em
}


/* Footer */
.footer {
  background: var(--dark);
  padding-top: .5em;
  padding-bottom: .5em;
  color: #fff;
  text-align: center
}